.container{
    margin-top:5%;
}

.form-control{
    
   
}

.formcent{
    background-color: tomato;
}

.form-label{
    font-family: 'Libre Franklin', sans-serif;
    font-weight: 500;
    color: white;
}