.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.bg-brown {
    --bs-bg-opacity: 1;
    background-color: #291f13
}

body {
    --bs-bg-opacity: 1;
    background-color: #e4dacf
}